* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

html,
body,
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.info {
  width: 500px;
  padding: 0 30px;
  position: fixed;
  right: -505px;
  box-shadow: 0 0 5px rgb(116, 116, 116);
  height: 100%;
  background-color: white;
  z-index: 1;
  transition: 0.5s;

  button {
    padding: 0;
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    position: absolute;
    transition: left 0.5s;
    left: -65px;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }

    img {
      margin: 0;
      background-color: white;
      border-radius: 50%;
    }
  }

  h1 {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 20px 0;
  }

  p {
    margin-bottom: 10px;
    text-indent: 1.5em;
    text-align: justify;
  }
}

.info-active{
  right: 0;

  button{
    left: 3px;
  }
}

.height {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
}

.name-game {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 60px;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 20px;
  }

  h3 {
    text-align: center;
    margin: 20px;
  }
}

.start-game {
  display: flex;
  justify-content: center;

  button {
    width: 200px;
    height: 80px;
    font-size: 22px;
    box-shadow: 2px 2px 5px rgb(116, 116, 116);
    border: none;
    outline: none;
    position: relative;
  }
}

.result-massage {
  display: none;
  box-shadow: 0 0 10px rgb(170, 170, 170);
  background: white;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  margin: 10% 5%;

  &_restart-button {
    margin: 20px 10px;
    width: 200px;
    height: 80px;
    font-size: 22px;
    box-shadow: 2px 2px 5px rgb(116, 116, 116);
    border: none;
    outline: none;
    position: relative;

    &:active {
      top: 3px;
    }
  }
}

.interface {
  display: none;

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

    &_button {
      width: 200px;
      height: 100px;
      font-size: 22px;
      box-shadow: 2px 2px 5px rgb(116, 116, 116);
      border: none;
      outline: none;
      position: relative;

      &:active {
        top: 3px;
      }
    }

    &_div {
      width: 120px;
      height: 120px;
      box-shadow: 2px 2px 5px rgb(116, 116, 116);
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      #player-points {
        font-size: 60px;
      }
    }
  }
}

.footer {
  background-color: rgb(219, 219, 219);
  padding: 20px 0;
  z-index: 2;

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__nav-ul {
    display: flex;

    li {
      margin-right: 15px;

    }

    &:last-child {
      margin-right: 0;
    }

    img {

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

@media only screen and (max-width : 800px) {
  .footer{
    z-index: 0;
  }
  .info-active {
    width: 100%;
  }
}

@media only screen and (max-width : 600px) {
  .interface {
    &__buttons {
      flex-wrap: wrap;

      &_button {
        margin: 0 20px 30px;
      }

      &_div {
        order: -1;
        margin: 0 25% 30px;
      }
    }
  }
}

@media only screen and (max-width : 360px) {
  .footer {
    .container {
      flex-direction: column;
    }

    &__social-network {
      margin-top: 20px;
    }
  }
  .name-game {
    padding-top: 20px;
  }
}